@using Gs1DigitalLink.Api.Contracts
@using Microsoft.Extensions.Localization
@using System.Globalization
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["Multiple choices available"];
}
@model MultipleChoiceResponse
@inject IStringLocalizer<MultipleChoiceResponse> Localizer

<h2>@Localizer["Multiple links are available for this resource"]</h2>

<ul>
    @foreach (var link in Model.Links)
    {
        <li>
            <a href="@link.Href">@link.Title</a>
            @foreach(var lang in link.Hreflang)
            {
                <span class="tag language">@GetCountryName(lang)</span>
            }
        </li>
    }
</ul>

@{
    string GetCountryName(string language)
    {
        var culture = CultureInfo.GetCultureInfoByIetfLanguageTag(language);

        return culture.DisplayName;
    }
}